[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "multibuild"]
	path = multibuild
	url = https://github.com/multi-build/multibuild.git
[submodule "opencv_extra"]
	path = opencv_extra
	url = https://github.com/opencv/opencv_extra.git
