include LICENSE-3RD-PARTY.txt
include LICENSE.txt
include README.md
include find_version.py
include setup.py
include pyproject.toml
recursive-include cv2 *
recursive-include docker *
recursive-include opencv *
recursive-include opencv_contrib *
recursive-include patches *
recursive-include scripts *.py
